<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rango</title>
    <link rel="stylesheet" href="/styles/template.css">
</head>

<body>
    <header>
        <img src="logo.svg" alt="Rango">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Ajuda">Ajuda</a></li>
            <li><a href="/Sobre_nos">Sobre nós</a></li>
        </ul>
        <a class="login-button" href="/Login">

            Login
        </a>
    </header>
    <main>
        <h2>Área do conteúdo principal</h2>
    </main>
    <footer>
        <div class="contact">
            <p>Quer falar com a gente?</p>
            <p>Telefone: (xx) xxxx-xxxx</p>
            <p>E-mail: rangosuporte@gmail.com</p>
        </div>
        <p>&copy; 2023 Rango</p>
    </footer>
</body>

</html>